body {
    background-color: black;
    color: white;
}

/*Parent Container*/
.container{
    display: flex;
    justify-content: space-around;
}

/*Left Column*/
.container .left-column{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*Right Column*/
.container .right-column{
    display: inline-block;
    flex: 1;
    flex-direction: column;
    padding: 40px
}

/*Vertical Line*/
.container .vertical-line{
    border: 1px solid #3b7bf8;
    max-width: 1px;
    margin: 50px;
}

/*Image Gallery*/
.left-column .thumbnail{
    width: 75%;
    margin-left: 70px;
    margin-top: 70px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-top: 20px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col img{
    width: 50%;
    transition: transform 0.3s ease-in-out;
}

.small-img-col img:hover{
    transform: scale(1.2);
}


/*Price styles*/
.right-column h3{
    font-weight: 300;
}

/*Availability box*/
.container .right-column .availability{
    display: inline-block;
    background-color: #3B7BF8;
    color: white;
    font-weight: 200;
    font-size: smaller;
    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 1px;
    width: auto;
}

/*Product Info Table*/
.container .right-column .info-table {
    margin-top: 40px;
    color: white;
    border-collapse: collapse;
    font-size: 16px;
}

.container .right-column .info-table td{
    padding-bottom: 10px;
}
  
  .container .right-column .info-table td:first-child {
      font-weight: 600;
      padding-right: 25px;
}
  
  .container .right-column .info-table td:last-child {
    font-weight: 100;
}

/*Buttons*/
.option-buttons{
    padding-top: 10px;
    margin-top: 10px;
}

.buy-now{
    font-size: 16px;
    color: #3B7BF8;
    font-family: 'Inter', 'Helvetica Neue';
    background-color:transparent;
    border: 1px solid #3B7BF8;
    border-radius: 5px;
    padding: 3px 20px 3px 20px;
    margin: 2px;
    letter-spacing: 1px;
    transition: background-color 0.3 ease-in-out, color 0.3 ease-in-out;
    cursor: pointer;
}

.buy-now:hover{
    background-color: #3B7BF8;
    color: #ffffff;
}

.add-to-cart{
    font-size: 16px;
    color: #3B7BF8;
    font-family: 'Inter', 'Helvetica Neue';
    background-color:transparent;
    border: 1px solid #3B7BF8;
    border-radius: 5px;
    padding: 3px 20px 3px 20px;
    margin: 2px 2px 0px 2px;
    letter-spacing: 1px;
    transition: background-color 0.3 ease-in-out, color 0.3 ease-in-out;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #3B7BF8;
    color: #ffffff;
}

/*Product Description*/
.container .right-column .description {
    font-size: 16px;
    font-weight: 200;
    color: #ffffff;
    line-height: 26px;
}

/*Favourite option*/
.favourite{
    padding: 0;
    margin-top: 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.favourite i{
    font-size: 18px;
    cursor: pointer;
}
