/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 29, 2024, 6:37:19 PM
    Author     : Esanki Lakvindee
*/

/* horizontal-menu.css */

.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    overflow: hidden;
    background-color: #2c3e50; /* Background color */
    border-radius: 10px;
    display: flex; /* Use flexbox for layout */
    max-width: 900px; /* Limit the maximum width of the menu */
    margin-left: auto; /* Center the menu */
    margin-right: auto; /* Center the menu */
}

.horizontal-menu li {
    flex: 1; /* Distribute space evenly among menu items */
}

.horizontal-menu li a {
    display: block;
    color: #ecf0f1; /* Text color */
    padding: 15px 20px; /* Padding */
    text-decoration: none;
    font-size: 18px; /* Font size */
    font-weight: bold; /* Font weight */
    text-transform: uppercase; /* Uppercase text */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.horizontal-menu li a:hover {
    background-color: #34495e; /* Hover background color */
}
