/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 20, 2024, 4:18:10 PM
    Author     : Esanki Lakvindee
*/

body {
  font-family: sans-serif;
}

.sidebar {
    background-color: navy;
    color: white;
    width: 210px;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}


.logo {
  padding: 25px;
  font-size: 20px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: left;
}

.menu li {
  padding-bottom: 20px;
  text-decoration: none;
  list-style-type: none; 
}

.menu li a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

.menu li a:hover {
  background-color: #212529;
}

.menu ul{
    padding-inline-start: 20px !important;
}