/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 20, 2024, 4:30:45 PM
    Author     : Esanki Lakvindee
*/

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    margin-left: 200px; /* Adjust the margin according to your side menu bar width */
    width: calc(100% - 200px); /* Adjust the width according to your side menu bar width */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    margin-left: auto;
}

.icon {
    margin-right: 15px;
}

.admin-profile {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.admin-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.admin-name {
    font-size: 14px;
    font-weight: bold;
}

