/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 29, 2024, 11:18:25 PM
    Author     : Esanki Lakvindee
*/

/* Popup container - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: #fefefe;
    max-width: 300px;
    padding: 20px;
}

/* Form container */
.form-container {
    max-width: 100%;
}

/* Full-width input fields */
.form-container input[type=text], 
.form-container input[type=password], 
.form-container input[type=number], 
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Cancel button */
.form-container .cancel {
    background-color: #ccc;
}

/* Add styles to the open button */
.open-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.open-button:hover {
    background-color: #45a049;
}
